.academy__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: #666666;
  }

  &:focus,
  &:hover {
    svg {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
    svg {
      fill: #68b738;
    }
  }
}

.academy__text {
  @include fonts(16px, 400, $gray4, "Arial");
}

@media (min-width: $tablet) {
  .academy__text {
    display: block;
    margin-right: 17px;
  }
}
