.catalog-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6.25%;
  margin-right: 6.25%;
}

.catalog-card__image-wrapper {
  width: 138px;
  height: 144px;
}

.catalog-card__info-wrapper {
  padding-top: 20px;
  width: 140px;
}

.catalog-card__title {
  @include fonts(16px);
  margin: 0;
  margin-bottom: 14px;
  width: 75px;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog-card__info {
  @include fonts(12px, 400, #000000, "Arial");
  line-height: 16px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 140px;
}

.catalog-card__term,
.catalog-card__description {
  margin: 0;
  width: 50%;
}

.catalog-card__description {
  text-align-last: right;

  &:last-child {
    text-transform: uppercase;
  }
}

.catalog-card__link {
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}


@media (min-width: $tablet) {
  .catalog-card {
    display: block;
    margin: 0;
    padding-bottom: 39px;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 50%, #f2f2f2 50%, #f2f2f2 100%);
  }

  .catalog-card__image-wrapper {
    width: 324px;
    height: 208px;

    &--small {
      margin-top: 34px;
      height: 174px;
    }
  }

  .catalog-card__info-wrapper {
    margin-top: -127px;
    width: 100%;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 163px;
    padding-bottom: 25px;
    background-color: #f2f2f2;
  }

  .catalog-card__title {
    @include fonts(20px);
    margin: 0 auto;
    margin-bottom: 27px;
    width: 130px;
    text-align: center;
  }

  .catalog-card__info {
    @include fonts(16px, 400, $gray4, "Arial");
    margin: 0;
    width: 100%;
  }

  .catalog-card__term {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 249px;
      height: 1px;
      background-color: #cdcdcd;
      left: 0;
      bottom: -7px;
    }

    &:not(:last-child),
    &:not(:nth-last-child(2)) {
      margin-bottom: 16px;
    }
  }

  .catalog-card__description {
    &:not(:last-child),
    &:not(:nth-last-child(2)) {
      margin-bottom: 16px;
    }
  }

  .catalog-card__link {
    display: block;
    width: auto;
    margin-left: 38px;
    margin-right: 37px;
  }
}

@media (min-width: $desktop) {
  .catalog-card__image-wrapper {
    width: 245px;
    height: 208px;

    &--small {
      margin-top: 34px;
      height: 174px;
    }
  }

  .catalog-card__term {
    &::after {
      width: 169px;
      left: 0;
      bottom: -7px;
    }
  }

  .catalog-card__link {
    display: block;
    width: 169px;
    margin-left: 38px;
    margin-right: 37px;
  }
}
