.contacts {
  &--gray {
    background-color: #f2f2f2;
  }

  padding-top: 27px;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  margin-bottom: 26px;
}

.contacts__text {
  @include fonts(16px);
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;
  width: 50%;
}

.contacts__address {
  @include fonts(14px, 400, $gray4, "Arial");
  font-style: normal;
  line-height: 20px;
  width: 50%;
}

.contacts__map-wrapper {
  position: relative;
  background-color: #fdf7f0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px 400px;
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px 400px;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  &:before {
    position: absolute;
    content: "";
    width: 52px;
    height: 52px;
    left: 50%;
    top: 175px;
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.contacts__map-wrapper iframe {
  width: 100%;
  border: none;
  height: 362px;
  margin-bottom: -6px;
}

@media (min-width: $tablet) {
  .contacts {
    padding-top: 63px;
  }

  .contacts__info {
    padding: 0 9.11%;
    padding-bottom: 33px;
  }

  .contacts__text {
    @include fonts(20px);
    line-height: 25px;
    width: 30%;
  }

  .contacts__address {
    @include fonts(16px, 400, $gray4, "Arial");
    line-height: 18px;
    padding-right: 1px;
    width: 30%;
    text-align: right;

    & .oneline {
      display: block;
      margin-bottom: 22px;
    }
  }

  .contacts__map-wrapper iframe {
    height: 396px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding: 0;
  }

  .contacts__wrapper {
    position: relative;
  }

  .contacts__info {
    position: absolute;
    margin: 0;
    top: 96px;
    left: 27.35%;
    transform: translateX(-50%);
    width: 570px;
    padding: 0 77px;
    padding-right: 30px;
    padding-top: 65px;
    padding-bottom: 59px;
    background-color: #ffffff;
  }

  .contacts__text {
    @include fonts(20px);
    line-height: 25px;
    width: 50%;
  }

  .contacts__address {
    width: 50%;
    text-align: left;
    padding-left: 4%;
  }

  .contacts__map-wrapper iframe {
    height: 400px;
  }
}
