.example__wrapper {
  background-color: #f2f2f2;
  padding-top: 35px;
}

.example__title {
  @include fonts(36px, 400);
  margin: 0 auto;
  margin-bottom: 40px;
  width: 87.5%;
}

.example__text {
  @include fonts(14px, 400, $gray4, "Arial");
  margin: 0 auto;
  width: 87%;
  line-height: 18px;
}

.example__term {
  @include fonts(12px, 400, $gray4, "Arial");
  line-height: 12px;
}

.example__description {
  @include fonts(24px);
}

.example__price {
  @include fonts(14px);
}
