.form {
  display: block;
}

.form__wrapper {
  padding-bottom: 30px;
}

.form__area {
  border: none;
  margin: 0 auto;
  width: 87.5%;
  padding: 0;
  padding-bottom: 19px;

  &--gray-border {
    border: 1px solid #e6e6e6;
    margin: 0;
    padding-left: 6.25%;
    padding-right: 6.25%;
    width: 100%;
  }
}

.form__item {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  padding-top: 10px;
}

.form__area legend {
  @include fonts(24px);
}

.form__label {
  @include fonts(16px);
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-right: 5%;

  vertical-align: top;

  &[for="weight"] {
    margin-right: 5.5%;
  }

  &[for="email"] {
    margin-right: 4%;
  }

  &[for="phone"] {
    margin-right: 3.5%;
  }

  &--radio {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      top: -2px;
      left: -46px;
    }
  }

  &--addition {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      top: -2px;
      left: -45px;
    }

    input:checked ~ .form__tick {
      display: block;
    }

    &:hover,
    &:focus-within {
      &::before {
        border: 1px solid #bababa;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.form__input {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
  padding-top: 9px;
  padding-left: 14px;
  padding-bottom: 10px;
  min-height: 50px;

  @include fonts(16px, 400, $gray4);

  &--weight {
    padding-bottom: 11px;
    padding-left: 15px;
  }

  &--age {
    padding-top: 8px;
    padding-left: 15px;
  }

  &--comment {
    width: 100%;
    padding-right: 10px;
    height: 150px;
  }

  &:hover {
    border: 1px solid #cfcfcf;
  }

  &:focus {
    border: 2px solid #444444;

    & ~ .form__icon {
      fill: #68b738;
    }

    &:invalid {
      border: 2px solid #ff8282;

      & ~ .form__icon {
        fill: #ff8282;
      }
    }
  }
}

.form__input::placeholder,
.form__area textarea::placeholder {
  @include fonts(16px, 400, $gray4);
  text-transform: uppercase;
}

.form__program-list {
  @include list-reset;
  padding-top: 23px;
  padding-left: 45px;
  padding-bottom: 4px;

  input:checked ~ .form__label::before {
    box-shadow: inset 0 0 0 8px #ffffff, inset 0 0 0 15px #68b738;
  }

  .form__label:hover::before {
    border: 1px solid #bababa;
  }

  .form__label:active {
    opacity: 0.3;
  }
}

.form__program-list-item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.form__area-wrapper {
  padding-top: 27px;

  &--addition {
    padding-top: 4px;
  }
}

.form__legend {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 25px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #68b738;
  }

  &--contacts {
    &::after {
      width: 99px;
      top: 15px;
      right: -20px;
    }
  }

  &--comment {
    padding-top: 4px;
    margin-bottom: 35px;

    &::after {
      width: 158px;
      top: 20px;
      right: -20px;
    }
  }

  &--addition {
    margin-bottom: 0;

    &::after {
      width: 136px;
      top: 14px;
      right: -20px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 5.6%;
  top: 26px;

  &--phone {
    right: 4.9%;
    top: 23px;
  }
}

.form__addition-list {
  @include list-reset;
  padding-top: 37px;
  padding-left: 45px;
  padding-bottom: 17px;
}

.form__addition-list-item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.form__tick {
  position: absolute;
  top: 5px;
  left: -40px;
  fill: #68b738;
  display: none;
}

.form__button-wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.form__button {
  display: block;
  border: none;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.form__note {
  @include fonts(14px, 400, $gray4, "Arial");
  margin: 0 auto;
  width: 160px;
  text-align: center;
}

@media (min-width: $tablet) {
  .form__area {
    width: auto;
    margin-left: 9.25%;
    margin-right: 8.72%;
    padding-bottom: 55px;

    &--gray-border {
      margin-top: 7px;
      padding-bottom: 30px;
    }
  }

  .form__item {
    margin: 0;
    margin-bottom: 11px;
    padding-top: 10px;
  }

  .form__area legend {
    font-size: 36px;
    line-height: 36px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 2.5%;

    &[for="weight"] {
      margin-right: 3.1%;
    }

    &[for="email"] {
      margin-right: 3.1%;
    }

    &[for="phone"] {
      margin-right: 2.5%;
      margin-left: -2px;
    }

    &--radio {
      &::before {
        width: 40px;
        height: 40px;
        top: -5px;
        left: -59px;
      }
    }

    &--addition {
      &::before {
        width: 40px;
        height: 40px;
        top: -4px;
        left: -59px;
      }
    }
  }

  .form__tick {
    top: 7px;
    left: -50px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;
    padding-top: 9px;
    padding-left: 18px;
    padding-bottom: 10px;

    &--comment {
      padding-top: 15px;
      padding-right: 10px;
      height: 174px;
    }
  }

  .form__input::placeholder,
  .form__area textarea::placeholder {
    font-size: 20px;
  }

  .form__program-list {
    padding-top: 33px;
    padding-left: 7.14%;
    padding-bottom: 0;

    input:checked ~ .form__label::before {
      box-shadow: inset 0 0 0 10px #ffffff, inset 0 0 0 20px #68b738;
    }
  }

  .form__program-list-item {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  .form__area-wrapper {
    padding-top: 75px;

    &--addition {
      padding-top: 4px;
    }
  }

  .form__legend {
    width: auto;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 66px;

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      background-color: #68b738;
    }

    &--contacts {
      &::before {
        width: 30px;
        left: -71px;
        top: 22px;
      }

      &::after {
        width: 150px;
        right: unset;
        left: 552px;
        top: 22px;
      }
    }

    &--comment {
      margin: 0;
      padding-top: 0;
      margin-bottom: 76px;

      &::before {
        width: 30px;
        left: -71px;
        top: 22px;
      }

      &::after {
        width: 479px;
        right: unset;
        left: 218px;
        top: 22px;
      }
    }

    &--addition {
      margin-bottom: 0;

      &::before {
        width: 30px;
        left: -71px;
        top: 22px;
      }

      &::after {
        width: 446px;
        right: unset;
        left: 250px;
        top: 22px;
      }
    }
  }

  .form__icon {
    position: absolute;
    right: 3%;
    top: 30px;

    &--phone {
      right: 2.5%;
      top: 27px;
    }
  }

  .form__addition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 66px;
    padding-left: 9.3%;
    padding-right: 4.8%;
    padding-bottom: 4px;
  }

  .form__addition-list-item {
    width: 200px;

    &:not(:last-child) {
      margin-bottom: 47px;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .form__button-wrapper {
    width: auto;
    margin-left: 9.25%;
    margin-right: 8.72%;
    margin-bottom: 44px;
    display: flex;
  }

  .form__button {
    width: 44.9%;
    padding: 0;
    padding-right: 2px;
    padding-top: 11px;
    padding-bottom: 12px;
    margin-bottom: 0;
  }

  .form__note {
    font-size: 16px;
    width: auto;
    padding-right: 45px;
    padding-top: 14px;
  }
}

@media (min-width: $desktop) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 4.86%;
    padding-bottom: 81px;
  }

  .form__area {
    width: auto;
    min-width: 43.8%;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 0;

    &--gray-border {
      margin: 0 40px;
      padding: 0;
      margin-top: 10px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 100%;
    }
  }

  .form__label {
    margin-right: 3.1%;

    &[for="weight"] {
      margin-right: 3.6%;
    }

    &[for="email"] {
      margin-right: 4%;
    }

    &[for="phone"] {
      margin-right: 3.2%;
    }
  }

  .form__item {
    &:last-child {
      margin-bottom: 0;
    }

    &--contacts {
      min-width: 46.8%;
      margin-bottom: 0;
    }
  }

  .form__program-list {
    padding: 0;
    padding-top: 34px;
    padding-left: 85px;
  }

  .form__area-wrapper {
    padding-top: 70px;
    padding-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--addition {
      padding-top: 60px;
      padding-bottom: 67px;
    }
  }

  .form__legend {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;

    &::before {
      width: 70px;
      left: -110px;
    }

    &--contacts {
      &::after {
        width: 777px;
      }
    }

    &--comment {
      padding-top: 0;
      margin-bottom: 76px;

      &::after {
        width: 1111px;
      }
    }

    &--addition {
      margin-bottom: 67px;

      &::after {
        width: 1078px;
      }
    }
  }

  .form__input[type="tel"] {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__checkbox-wrapper {
    width: 100%;
  }

  .form__icon {
    right: 3.8%;

    &--phone {
      right: 3.2%;
    }
  }

  .form__addition-list {
    padding: 0;
    padding-left: 58px;
  }

  .form__addition-list-item {
    width: 187px;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .form__button-wrapper {
    width: 100%;
    margin: 0;
    margin-left: 40px;
    justify-content: space-between;
  }

  .form__button {
    width: 45.24%;
    padding-left: 210px;
    padding-right: 205px;
    padding-bottom: 11px;
  }

  .form__note {
    display: block;
    padding: 0;
    padding-top: 12px;
    width: 42%;
    text-align: left;
    margin-right: auto;
  }
}
