.green-button {
  @include fonts(16px, 400, #ffffff);
  text-transform: uppercase;
  background-color: $green-button;

  &--program {
    @include fonts(14px, 400, #ffffff);
  }

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet) {
  .green-button {
    @include fonts(16px, 400, #ffffff);
    text-transform: uppercase;
    background-color: $green-button;

    &--program {
      @include fonts(20px, 400, #ffffff);
    }

    &--form {
      font-size: 20px;
    }
  }
}
