.mass-control__wrapper {
  padding-top: 10px;
}

.mass-control__list {
  @include list-reset;
}

.mass-control__item {
  background-color: #f2f2f2;
  position: relative;
  margin-left: 6.25%;
  margin-right: 6.25%;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-bottom: 18px;

  &::after {
    position: absolute;
    content: "";
    bottom: 21.43%;
    left: 8%;
    width: 85.71%;
    height: 1px;
    background-color: #d9d9d9;
  }

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 8%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green-button;
  }

  &:last-child {
    margin-bottom: 0;

    .mass-control__icon {
      top: 35px;
      left: 4.5%;
    }
  }
}

.mass-control__icon {
  position: absolute;
  top: 22px;
  left: 10.5%;
}

.mass-control__title {
  @include fonts(24px, 400);
  text-transform: uppercase;
  margin: 0;
  margin-left: 32.1%;
  margin-bottom: 36px;
}

.mass-control__description {
  @include fonts(14px, 400, #444444, "Arial");
  line-height: 18px;
  margin: 0;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 37px;
}

.mass-control__link {
  @include fonts(16px);
  position: relative;
  text-transform: uppercase;
  margin-left: 7%;

  svg {
    position: absolute;
    left: 96px;
    top: 7px;
  }

  .mass-control__arrow-verylong {
    display: none;
  }

  &:hover,
  &:focus {
    .mass-control__arrow-verylong {
      display: block;
    }

    .mass-control__arrow-long {
      display: none;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .mass-control__wrapper {
    padding: 0;
  }

  .mass-control__item {
    margin-right: 3.9%;
    margin-left: 3.9%;
    margin-bottom: 30px;
    padding-left: 7%;
    padding-top: 84px;
    padding-bottom: 55px;

    &:last-child {
      margin-bottom: 0;

      .mass-control__icon {
        width: 268px;
        height: 112px;
        top: 36.3%;
        left: unset;
        right: 4%;
      }
    }

    &::before {
      width: 200px;
      height: 200px;
      top: 25%;
      left: unset;
      right: 8.66%;
    }

    &::after {
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }

  .mass-control__icon {
    width: 140px;
    height: 195px;
    top: 21.5%;
    left: unset;
    right: 13%;
  }

  .mass-control__title {
    @include fonts(36px);
    margin: 0;
    margin-bottom: 30px;
  }

  .mass-control__description {
    @include fonts(16px, 400, #444444, "Arial");
    line-height: 24px;
    margin: 0;
    margin-bottom: 55px;
    width: 57%;
  }

  .mass-control__item:nth-child(2) .mass-control__description {
    width: 52%;
  }

  .mass-control__link {
    @include fonts(20px);
    margin: 0;

    svg {
      left: unset;
      right: -45px;
      top: 9px;
    }

    &:hover,
    &:focus {
      .mass-control__arrow-verylong {
        display: block;
        left: unset;
        right: -54px;
        top: 9px;
      }

      .mass-control__arrow-long {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop) {
  .mass-control__list {
    width: 90.28%;
    min-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
  }

  .mass-control__item {
    margin: 0 40px;
    width: 43.84%;
    padding: 0;
    padding-top: 82px;
    padding-bottom: 56px;

    &:last-child {
      padding-bottom: 56px;

      .mass-control__icon {
        width: 134px;
        height: 57px;
        top: 68px;
        right: unset;
        left: 6%;
      }
    }

    &::before {
      width: 100px;
      height: 100px;
      top: 48px;
      left: 9.2%;
    }
  }

  .mass-control__icon {
    width: 70px;
    height: 97px;
    top: 41px;
    right: unset;
    left: 11.4%;
  }

  .mass-control__title {
    margin-left: 214px;
    margin-bottom: 81px;
  }

  .mass-control__description {
    margin: 0;
    margin-left: 52px;
    margin-bottom: 30px;
    width: auto;
    margin-right: 40px;
  }

  .mass-control__item:nth-child(2) .mass-control__description {
    width: auto;
  }

  .mass-control__link {
    margin-left: 52px;

    svg {
      right: -47px;
    }

    &:hover,
    &:focus {
      .mass-control__arrow-verylong {
        right: -56px;
      }

      .mass-control__arrow-long {
        display: none;
      }
    }
  }
}
