.mass-control__wrapper {
  padding-top: 10px;
}

.mass-control__list {
  @include list-reset;
}

.mass-control__item {
  background-color: #f2f2f2;
  position: relative;
  margin-left: 6.25%;
  margin-right: 6.25%;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-bottom: 18px;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 8%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green-button;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.mass-control__icon {
  position: absolute;
  width: 0; //temporary
  height: 0; //temporary
}

.mass-control__title {
  @include fonts(24px, 400);
  text-transform: uppercase;
  margin: 0;
  margin-left: 32.1%;
  margin-bottom: 36px;
}

.mass-control__description {
  @include fonts(14px, 400, #444444, "Arial");
  line-height: 18px;
  margin: 0;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 37px;
}

.mass-control__link {
  @include fonts(16px);
  position: relative;
  text-transform: uppercase;
  margin-left: 7%;

  & svg {
    position: absolute;
    width: 0; //temporary
    height: 0; //temporary
  }
}

@media (min-width: $tablet) {
  .mass-control__wrapper {
    padding: 0;
  }

  .mass-control__item {
    margin-right: 3.9%;
    margin-left: 3.9%;
    margin-bottom: 30px;
    padding-left: 7%;
    padding-top: 84px;
    padding-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      width: 200px;
      height: 200px;
      top: 25%;
      left: unset;
      right: 8.66%;
    }
  }

  .mass-control__title {
    @include fonts(36px);
    margin: 0;
    margin-bottom: 30px;
  }

  .mass-control__description {
    @include fonts(16px, 400, #444444, "Arial");
    line-height: 24px;
    margin: 0;
    margin-bottom: 55px;
    width: 57%;
  }

  .mass-control__item:nth-child(2) .mass-control__description {
    width: 52%;
  }

  .mass-control__link {
    @include fonts(20px);
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .mass-control__list {
    width: 90.28%;
    min-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
  }

  .mass-control__item {
    margin: 0 40px;
    width: 43.84%;
    padding: 0;
    padding-top: 82px;
    padding-bottom: 56px;

    &:last-child {
      padding-bottom: 56px;
    }

    &::before {
      width: 100px;
      height: 100px;
      top: 48px;
      left: 9.2%;
    }
  }

  .mass-control__title {
    margin-left: 214px;
    margin-bottom: 81px;
  }

  .mass-control__description {
    margin: 0;
    margin-left: 52px;
    margin-bottom: 30px;
    width: auto;
    margin-right: 40px;
  }

  .mass-control__item:nth-child(2) .mass-control__description {
    width: auto;
  }

  .mass-control__link {
    margin-left: 52px;
  }
}
