
.page-main__title {
  @include fonts(36px);
  line-height: 60px;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 28px;
}

.page-main__text {
  @include fonts(14px);
  line-height: 18px;
  text-transform: uppercase;
}
