.social-list {
  @include list-reset;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 73px;
  padding-top: 20px;
  padding-right: 70px;
}

.social-list__item {
  width: 22px;
  margin-right: 38px;

  &:last-child {
    margin-right: 3px;
  }

  &--instagram {
    padding-top: 2px;
  }

  &--facebook {
    padding-top: 2px;
  }
}

.social-list__link {
  &:hover svg,
  &:focus svg {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .social-list {
    border: none;
    min-width: 180px;
    padding: 0;
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 5px;
  }

  .social-list__item {
    width: 30px;
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }

    &--vk {
      padding-top: 3px;

      svg {
        width: 30px;
        height: 16px;
      }
    }

    &--instagram {
      padding-top: 3px;
      margin-left: 5px;

      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      padding: 0;

      svg {
        width: 18px;
        height: 28px;
      }
    }
  }
}
